<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCK9vxNSNyq8QAogRRs3RH5OypQUM0IaRU</string>
	<key>GCM_SENDER_ID</key>
	<string>59589105522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectTeam3GpsBasedChatApp</string>
	<key>PROJECT_ID</key>
	<string>team3-project-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>team3-project-chat-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59589105522:ios:bf4bc71c7443bf7529afeb</string>
</dict>
</plist>